@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  /* font-family: "Caveat"; */
}



.myfirstvideo{
height:80%;
width:100%; 
object-fit: cover;
}



/* from here */





.myfont1{
  margin-top: 50px;
  margin-left: auto;
  margin-right: 50px;
  font-family: "Oswald";
  letter-spacing: -10px;
  font-size: 18vw;
  font-weight: 500;
  color:white;
}
.myfont{
  color:white;
  margin-top: 45px;
  font-family: "Oswald";
  margin-left: 55px;
  letter-spacing: -18px;
  font-weight: 600;
  font-size: 20vw;
  
}

/* from here */
.container_margin{
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}
.head_text_wrap{
  width:54%;
}
.headline_wrapper{
  height:10px;
  background-color: black;
  position:absolute;
  top:32%;
  width:100%;
}
.video_container{
  /* position: absolute;
  top:500px; */
  margin-top: -30px;
}
.marquee_text{
  font-family:"Oswald" ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.mybutton{
  background-color: aqua;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
